* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
   background-color:#f5f7fa;
   padding-top: 40px;
   padding-bottom: 40px;
   padding-left: 20px;
   padding-right: 20px;
   font-family: Montserrat;
}

.wrapper {
    background-color:#ffffff;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.sidebar {
    background-color: #1e2939;
    width: 370px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.my-photo {
    width: 370px;
}

.about-me-container {
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 80px;
    padding-bottom: 110px;
}

.contacts-container {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 60px;
}

.contacts-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 20px;
}

.contacts-link {
    color: #575f6b;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.contacts-link-type {
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    line-height: 24px;
    margin-right: 10px;
}

.tech-skills-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 20px;
}

.tech-skills-container {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 55px; 
}

.tech-skills-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 15px;
    color:#ff6b08;
}

.tech-skills-text {
    color: #c7c9cd;
}

.soft-skills-title {
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px;
}

.soft-skills-container {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 55px;
}

.soft-skills-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 15px;
    color:#ff6b08;
}

.soft-skills-text {
    color: #c7c9cd;
}

.languages-container {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 55px;
}

.languages-title {
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px;  
}

.languages-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 15px;
    color:#ff6b08;  
}

.languages-text {
    color: #c7c9cd;
}

.profession {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 13px;
}

.name {
    font-size: 35px;
    font-weight: 700;
    line-height: 89px;
}

.description {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 10px;
    text-align: justify;
}

.info-container {
    margin-bottom: 50px;
}

.about-me-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
}

.Courses-and-certificates-container {
    margin-bottom: 55px;
}

.Courses-and-certificates-title {
    color: #595959;
    font-size: 14px;
    font-weight: 510;
    line-height: 24px;
}

.Courses-and-certificates-item {
    font-weight: 400;
    margin-left: 17px;
    color: #595959
}

.name-courses {
    color:#ff6d0b; 
    font-weight: 550;
}

.Courses-and-certificates-text {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; 
    margin-left: 30px;
    text-align: justify;
}

.profession-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.profession-company {
    color: #ff6d0b;
    font-size: 14px;
}

.profession-time {
    color: #a8a8a8;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
}

.profession-divider {
    color: #000000;
}

.profession-duties {
    margin-top: 14px;
    margin-bottom: 30px;
}

.profession-duties-item {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.university-name {
    color: #ff6b08;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.education-specialty {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}